.App {
  text-align: center;
  background-color: rgb(225, 246, 254);
}

.container .header{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.col-photo{
  display: flex;
  justify-content: center;
  align-items: center;
}

.photo{
  width: 300px;
  height: 300px;
  overflow: hidden;
}

.photo img{
  width: 100%;
  height: auto;
}
@supports(object-fit: cover){
  .photo img{
    height: 100%;
    object-fit: cover;
    object-position: center center;
  }
}

.photo .star{
  text-align: right;
}